.switch-field {
  @apply flex overflow-hidden rounded-md bg-gray-tertiary;

  input {
    clip: rect(0, 0, 0, 0);

    @apply absolute h-1 w-1 overflow-hidden cursor-pointer;
  }

  label {
    @apply cursor-pointer px-6 py-5 md:py-1 border-2 border-transparent rounded-md text-center transition-all w-full md:w-28 flex items-center justify-center text-sm text-gray-secondary;
  }

  input:checked + label {
    @apply bg-white border-2 border-gray-quaternary shadow-none text-blue-secondary;
  }
}

.search-input {
  @apply h-11 rounded-full w-full pl-10 text-xs shadow-inner;

  @apply focus:outline-none focus:border-green-primary focus:ring-1 focus:ring-green-primary;

  @apply placeholder:text-gray-senary;
}

.form-control {
  @apply flex flex-col space-y-1;

  label {
    @apply lg:ml-4 text-gray-secondary font-medium text-sm;
  }

  select {
    @apply bg-white border rounded-md !px-3.5 !py-2.5 cursor-pointer;
    @apply focus:outline-none focus:border-green-primary focus:ring-1 focus:ring-green-primary;
    @apply appearance-none;

    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'><polyline points='6 9 12 15 18 9'></polyline></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
  }

  input {
    @apply bg-white border rounded-md !px-3.5 !py-[8.5px];
    @apply focus:outline-none focus:border-green-primary focus:ring-1 focus:ring-green-primary;
    
  }

  .right-label {
    @apply relative w-full;

    &-text {
        @apply absolute top-[1px] right-[1px] h-[41px] px-4 bg-gray-quaternary rounded-tr-md rounded-br-md flex items-center text-sm;
    }
  }

  .input-select {
    @apply flex w-full relative;

    input {
        @apply w-full;
    }

    select {
        @apply absolute top-[1px] right-[1px] !py-0 !rounded-tl-none !rounded-bl-none w-[6rem] h-[41px] flex items-center;

        background-position: calc(100% - 0.2rem) center !important;
    }
  }
}

.valued-control {
  @apply flex flex-col space-y-0.5;

  label {
    @apply text-gray-secondary font-medium text-sm;
  }
}
